services:
  bgpalerter:
    image: nttgin/bgpalerter:latest
    container_name: bgpalerter
    restart: unless-stopped

    volumes:
      - ./config:/opt/bgpalerter/config:ro

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

