services:
  bgpalerter:
    image: nttgin/bgpalerter:latest
    container_name: bgpalerter
    restart: unless-stopped

    volumes:
      - ./config/config.yml:/opt/bgpalerter/config.yml:ro
      - ./config:/opt/bgpalerter/config
      - ./logs:/opt/bgpalerter/logs

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
