services:
  bgpalerter:
    image: nttgin/bgpalerter:latest
    container_name: bgpalerter
    restart: always
    environment:
      - BGPALERTER_NO_INTERACTIVE=true
    volumes:
      - ./config:/opt/bgpalerter/config:ro
      - ./config/config.yml:/opt/bgpalerter/config.yml:ro
      - ./config/prefixes.yml:/opt/bgpalerter/config/prefixes.yml:ro
      - ./config/groups.yml:/opt/bgpalerter/config/groups.yml:ro
      - ./config/rpki.yml:/opt/bgpalerter/config/rpki.yml:ro
      - ./config/subs.yml:/opt/bgpalerter/config/subs.yml:ro


