environment: production

volume: /opt/bgpalerter/

logging:
  directory: logs/

monitors:
  - type: BGPStream
    enabled: true
    collectors:
      - route-views
      - ris

irr:
  enabled: true
  sources:
    - RADB
    - RIPE

asns:
  - AS58173

statics:
  enabled: true
  monitoredPrefixesFiles:
    - prefixes.yml

alerts:
  email:
    enabled: true
    from: "bgpalerter@onwave.com"
    to:
      - "iain.murdoch@onwave.com"
    smtp:
      host: "onwave-com.mail.protection.outlook.com"
      port: 25
      secure: true
      ignoreTLS: false	
      auth:
        user: "bgpalerter@onwave-com.mail.protection.outlook.com"
        pass: ""
        type: login

  slack:
    enabled: false
    webhookUrl: ""

modules:
  prefix:
    enabled: true
  rpki:
    enabled: true
